@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
/* } */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}

.App-header {
  color: white;
  min-height: 150vh;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  overflow-x: hidden;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.home-card {
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* welcome text */

.welcome {
  font-family: "Permanent Marker";
  position: relative;
  top: -80px;
  animation: color-change infinite 5s linear;
  /* animation-name: color-change;
  animation-duration: 4s;
  animation-iteration-count: infinite; */
}

/* animation key frame  */
@keyframes color-change {
  0% {
    color: white;
  }
  25% {
    color: #e25e3b;
  }
  50% {
    color: rgb(84, 84, 21);
  }
  75% {
    color: rgb(51, 167, 25);
  }
  100% {
    color: rgb(12, 86, 113);
  }
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
