.exprience {
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 30px;
}
.skills-container {
  min-height: 50vh;
  width: 100%;
  position: static;
}
@media screen and (max-width: 567px) {
  .skills-container {
    position: relative;
    top: 100px;
  }
}
