@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.logo-style {
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
}
.yello {
  color: #f3b934;
}
.nav-color {
  background-color: #f3b934 !important;
}
.navbar {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1030;
  
}
@media screen and (max-width:576px) {
  .navbar{
    height: 50px !important;
    padding-bottom: 15px !important;
  }
}