@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
/* } */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
  outline: none !important;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(66, 56, 56);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}

.App-header {
  color: white;
}
.App {
  background-color: #282c34;
  min-height: 80vh;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.home-card {
  min-height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
